@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font-family-roboto: "Roboto", sans-serif;

body {
    font-family: $font-family-roboto;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

summary::-webkit-details-marker {
    display: none;
}

summary::-moz-list-bullet {
    list-style-type: none;
}

summary::marker {
    display: none;
}

// кнопки

.button-blue {
    margin: 0;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #0d99ff;
    border-radius: 6px;
    font-family: $font-family-roboto;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

// Хедер

.header {
    min-width: 375px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.header-wrapper1 {
    width: 100%;
    background-color: #282828;
}

.header-wrapper1__container {
    height: 32px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header-wrapper1__actual {
    position: relative;
    margin: 0;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    font-family: $font-family-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #a5b8c7;
    vertical-align: middle;
    text-align: center;
}
.header-wrapper1__actual span {
    color: #ffffff;
}

.header-wrapper1__actual::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: 4px;
    left: 0;
    background-color: #27b269;
    border-radius: 50%;
}

.header-wrapper1__work-schedule--desktop {
    display: none;
}
.header-wrapper1__work-schedule--mobile {
    position: relative;
    margin: 0;
    padding-left: 21px;
    font-family: $font-family-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.header-wrapper1__work-schedule--mobile::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: -2px;
    left: 0;
    background-image: url(../img/24.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.header-wrapper1__networks {
    display: none;
}

.header__wrapper2 {
    width: 100%;
    background-color: #ffffff;
}

.header-wrapper2__container {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    align-content: center;
}
.top-menu {
    display: flex;
    justify-content: space-between;
}
.top-menu__logo {
    margin: 0;
    margin-right: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.top-menu__logo-image {
    width: 42px;
}

.top-menu__logo-text {
    display: none;
}

.top-menu__wrapper {
    display: none;
}

.top-menu__navigation-button--mobile {
    align-self: center;
    box-sizing: border-box;
    height: 36px;
    margin-right: 15px;
    font-size: 16px;
    line-height: 19px;
}

.top-menu__navigation-button--desktop {
    display: none;
}
.top-menu__toggle {
    align-self: center;
    box-sizing: border-box;
    padding: 11px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 36px;
    height: 36px;
    border: 1px solid #0d99ff;
    border-radius: 6px;
}

.top-menu__toggle .top-menu__toggle-span {
    width: 100%;
    height: 2px;
    background: #282828;
    border-radius: 6px;
}

// выпадающее меню

    .top-menu__wrapper {
        padding: 0;
        margin: 0;
        margin-left: auto;
        width: 100%;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        z-index: 10;
    }

    .top-menu__wrapper--open {
        display: block;
    }
    .top-menu__background {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        background: rgba(19, 63, 125, 0.9);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .top-menu__navigation-wrapper {
        margin: 0;
        width: 240px;
        box-sizing: border-box;
        padding: 20px 15px;
        height: 100%;

        background-color: #ffffff;
    }
    .navigation-networks {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
    }
    .navigation-networks__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    .navigation-networks__item {
        padding: 0;
        margin: 0;
        margin-right: 8px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34px;
        height: 34px;
        border: 1px solid #e2ebee;
        border-radius: 50%;
    }
    .navigation-networks__item:last-child {
        margin: 0;
    }
    .navigation-networks__link {
        padding: 0;
        margin: 0;
        display: flex;
    }
    .navigation-networks__link-image {
        width: 18px;
        height: 18px;
    }
    .top-menu__button-close {
        box-sizing: border-box;
        width: 36px;
        height: 36px;
        border: 1px solid #0d99ff;
        border-radius: 6px;
        background-image: url(../img/close.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 14px 14px;
    }
    .top-menu__navigation-list {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .top-menu__item {
        padding: 15px 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #e2ebee;
    }
    .top-menu__item-a {
        display: flex;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #282828;
    }


@media (min-width: 768px) {
    .header-wrapper1__container {
        margin: 0 auto;
        padding: 10px 20px;
        display: flex;
        justify-content: flex-start;
    }

    .header-wrapper1__actual {
        margin-right: 24px;
    }
    .header-wrapper1__work-schedule {
        display: flex;
    }
    .header-wrapper1__work-schedule--mobile {
        display: none;
    }
    .header-wrapper1__work-schedule--desktop {
        display: block;
        position: relative;
        margin: 0;

        padding-left: 21px;
        font-family: $font-family-roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
    .header-wrapper1__work-schedule--desktop::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        top: -2px;
        left: 0;
        background-image: url(../img/24.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    .header-wrapper1__networks {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 0;
        margin: 0;
        margin-left: auto;
    }
    .networks__item {
        padding: 0;
        margin: 0;
        margin-right: 16px;
    }
    .networks__item:last-child {
        margin: 0;
    }
    .networks__link-inst {
        padding: 0;
        margin: 0;
        display: flex;
        align-content: center;
    }
    .link-image {
        width: 16px;
        height: 16px;
    }
    .header-wrapper2__container {
        padding: 23px 20px;
    }

    .top-menu__logo-text {
        padding: 0;
        margin: 0;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo-text {
        font-family: $font-family-roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
    }
    .logo-text--blue {
        color: #0d99ff;
    }
    .logo-text--black {
        color: #282828;
    }

    .top-menu__navigation-button--mobile {
        display: none;
    }
    .top-menu__navigation-button--desktop {
        align-self: center;
        display: flex;
        box-sizing: border-box;
        height: 36px;
        margin-right: 20px;
        font-size: 16px;
        line-height: 19px;
    }
}

@media (min-width: 1600px) {
    .header-wrapper1__container {
        box-sizing: border-box;
        max-width: 1920px;
        padding: 10px 40px;
        justify-content: space-between;
    }
    .header-wrapper1__actual {
        margin: 0;
        font-size: 13px;
        line-height: 15px;
    }
    .header-wrapper1__actual::after {
        top: 5px;
        width: 5px;
        height: 5px;
    }
    .header-wrapper1__networks {
        margin: 0;
    }
    .header-wrapper1__work-schedule--desktop {
        padding-left: 23px;
        font-size: 13px;
        line-height: 15px;
    }
    .header-wrapper1__work-schedule--desktop::after {
        width: 18px;
        height: 18px;
    }
    .header-wrapper2__container {
        box-sizing: border-box;
        max-width: 1920px;
        padding: 30px 40px;
    }
    .top-menu__logo {
        margin: 0;
        margin-right: 10px;
    }
    .top-menu__wrapper {
        position: initial;
        margin-left: 0;
        width: auto;
        display: flex;
        height: auto;

        
    }
    .top-menu__background {
        display: flex;
        justify-content: space-between;
        height: auto;
       background-color: transparent;
       backdrop-filter: initial;
    }
    .top-menu {
        display: flex;
        justify-content: space-between;
    }
    .navigation-networks {
        display: none;
    }
    .top-menu__navigation-wrapper {
        padding: 0;
        display: flex;
        height: auto;
        width: auto;
        background-color: transparent;
    }
.top-menu__button-close {
    display: none;
}
    .top-menu__navigation-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: stretch;
    }
    .top-menu__item {
        display: flex;
        align-items: stretch;
        padding: 0;
        margin: 0;
        margin-right: 50px;
        border: none;
    }
    .top-menu__item:last-child {
        margin: 0;
    }
    .top-menu__item-a {
        display: flex;
        align-items: center;
        font-family: $font-family-roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #282828;
    }
    .top-menu__navigation-button--desktop {
        margin: 0;
        margin-left: 10px;
    }
    .top-menu__toggle {
        display: none;
    }
}
